  <div class="field">
    <%= f.label :food_type %><br />
    <%= f.text_field :food_type %>
  </div>
  <div class="field">
    <%= f.label :meal_date %><br />
    <%= f.number_field :meal_date %>
  </div>
  <div class="field">
    <%= f.label :meal_type %><br />
    <%= f.text_field :meal_type %>
  </div>